
@model List<Search>
<hr />
<div class="row">
    @*<h2 class="text-center text-primary">Tìm kiếm với google</h2>*@
    <div class="search">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 col-sm-12">
                <img src="~/images/Google-Logo.svg" class="img-responsive" />
                <div id="custom-search-input">
                    <form asp-action="Index" method="get">
                        <div class="input-group col-md-12">
                            <input type="text" name="searchString" class="  search-query form-control" placeholder="Tìm kiếm" />
                            <span class="input-group-btn">
                                <button class="btn btn-danger" type="submit">
                                    <span class=" glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <br /><br /><hr />
        @if (Model != null)
        {
            <h2>Kết quả tìm được: </h2>
            int number = 0;
            @foreach (var item in Model)
            {
                number++;
                <div class="">
                    <hr />
                    <h3 class=""><a href="@Html.DisplayFor(modelItem => item.Link)">@number. @Html.DisplayFor(modelItem => item.Title)</a></h3>
                    <div class="Description">
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>

                    <hr />
                </div>
            }
        }
    </div>
</div>
  


